In [97]:
import pandas as pd
import sklearn.metrics as metrics

In [98]:
train_data = pd.read_csv('../ynov-data/train_housing_train.csv')
valid_data = pd.read_csv('../ynov-data/train_housing_valid.csv')
submission = pd.read_csv('../ynov-data/submission.csv')

In [99]:
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-117.22,33.81,4.0,9911.0,1946.0,5145.0,1661.0,3.4237,113700.0,INLAND,12144
1,-118.18,34.09,44.0,1688.0,426.0,1605.0,384.0,3.3785,184900.0,<1H OCEAN,4457
2,-121.95,38.65,19.0,1265.0,228.0,755.0,218.0,3.3472,69800.0,INLAND,20584
3,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND,11798
4,-117.60,33.98,26.0,1225.0,199.0,717.0,204.0,2.7284,225000.0,INLAND,13365
...,...,...,...,...,...,...,...,...,...,...,...
9595,-118.05,33.78,25.0,3112.0,435.0,1098.0,401.0,6.0000,353500.0,<1H OCEAN,11609
9596,-122.14,37.45,52.0,3841.0,537.0,1391.0,540.0,7.8647,500001.0,NEAR BAY,18328
9597,-122.14,37.69,38.0,1571.0,317.0,874.0,301.0,4.4659,189100.0,NEAR BAY,666
9598,-118.14,33.89,33.0,2867.0,786.0,1774.0,705.0,2.9292,183400.0,<1H OCEAN,7858
9599,-117.16,32.71,52.0,845.0,451.0,1230.0,375.0,1.0918,22500.0,NEAR OCEAN,14326

In [100]:

valid_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-121.87,38.02,31.0,3644.0,746.0,2229.0,678.0,3.1389,117800.0,INLAND,1328
1,-116.85,34.25,5.0,5806.0,1030.0,569.0,219.0,4.0132,163100.0,INLAND,13971
2,-118.54,34.25,26.0,2639.0,378.0,1191.0,401.0,6.2788,322200.0,<1H OCEAN,3581
3,-118.31,34.06,34.0,2470.0,1197.0,2326.0,1055.0,1.9038,325000.0,<1H OCEAN,4632
4,-116.19,33.69,11.0,5692.0,1346.0,5682.0,1273.0,2.5383,74000.0,INLAND,12441
...,...,...,...,...,...,...,...,...,...,...,...
2395,-117.72,33.64,16.0,1230.0,242.0,380.0,246.0,2.2969,67500.0,<1H OCEAN,10558
2396,-117.36,33.98,46.0,1680.0,453.0,1570.0,435.0,2.0436,82300.0,INLAND,11887
2397,-118.35,34.10,26.0,3977.0,1050.0,1720.0,935.0,3.3580,364500.0,<1H OCEAN,4250
2398,-117.53,33.97,29.0,1430.0,273.0,872.0,283.0,4.0833,141000.0,INLAND,11991
2399,-121.34,38.69,17.0,1968.0,364.0,996.0,331.0,3.7031,114300.0,INLAND,12865

In [101]:
average_median_house_value = train_data['median_house_value'].median()
average_median_house_value

np.float64(179150.0)

In [102]:
valid_data['average_median_house_value'] = average_median_house_value
valid_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id,average_median_house_value
0,-121.87,38.02,31.0,3644.0,746.0,2229.0,678.0,3.1389,117800.0,INLAND,1328,179150.0
1,-116.85,34.25,5.0,5806.0,1030.0,569.0,219.0,4.0132,163100.0,INLAND,13971,179150.0
2,-118.54,34.25,26.0,2639.0,378.0,1191.0,401.0,6.2788,322200.0,<1H OCEAN,3581,179150.0
3,-118.31,34.06,34.0,2470.0,1197.0,2326.0,1055.0,1.9038,325000.0,<1H OCEAN,4632,179150.0
4,-116.19,33.69,11.0,5692.0,1346.0,5682.0,1273.0,2.5383,74000.0,INLAND,12441,179150.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2395,-117.72,33.64,16.0,1230.0,242.0,380.0,246.0,2.2969,67500.0,<1H OCEAN,10558,179150.0
2396,-117.36,33.98,46.0,1680.0,453.0,1570.0,435.0,2.0436,82300.0,INLAND,11887,179150.0
2397,-118.35,34.10,26.0,3977.0,1050.0,1720.0,935.0,3.3580,364500.0,<1H OCEAN,4250,179150.0
2398,-117.53,33.97,29.0,1430.0,273.0,872.0,283.0,4.0833,141000.0,INLAND,11991,179150.0
2399,-121.34,38.69,17.0,1968.0,364.0,996.0,331.0,3.7031,114300.0,INLAND,12865,179150.0

In [103]:
submission['median_house_value'] = average_median_house_value
submission.to_csv('../ynov-data/submission.csv', index=False)

In [104]:
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-117.22,33.81,4.0,9911.0,1946.0,5145.0,1661.0,3.4237,113700.0,INLAND,12144
1,-118.18,34.09,44.0,1688.0,426.0,1605.0,384.0,3.3785,184900.0,<1H OCEAN,4457
2,-121.95,38.65,19.0,1265.0,228.0,755.0,218.0,3.3472,69800.0,INLAND,20584
3,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND,11798
4,-117.60,33.98,26.0,1225.0,199.0,717.0,204.0,2.7284,225000.0,INLAND,13365
...,...,...,...,...,...,...,...,...,...,...,...
9595,-118.05,33.78,25.0,3112.0,435.0,1098.0,401.0,6.0000,353500.0,<1H OCEAN,11609
9596,-122.14,37.45,52.0,3841.0,537.0,1391.0,540.0,7.8647,500001.0,NEAR BAY,18328
9597,-122.14,37.69,38.0,1571.0,317.0,874.0,301.0,4.4659,189100.0,NEAR BAY,666
9598,-118.14,33.89,33.0,2867.0,786.0,1774.0,705.0,2.9292,183400.0,<1H OCEAN,7858
9599,-117.16,32.71,52.0,845.0,451.0,1230.0,375.0,1.0918,22500.0,NEAR OCEAN,14326

In [105]:

valid_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id,average_median_house_value
0,-121.87,38.02,31.0,3644.0,746.0,2229.0,678.0,3.1389,117800.0,INLAND,1328,179150.0
1,-116.85,34.25,5.0,5806.0,1030.0,569.0,219.0,4.0132,163100.0,INLAND,13971,179150.0
2,-118.54,34.25,26.0,2639.0,378.0,1191.0,401.0,6.2788,322200.0,<1H OCEAN,3581,179150.0
3,-118.31,34.06,34.0,2470.0,1197.0,2326.0,1055.0,1.9038,325000.0,<1H OCEAN,4632,179150.0
4,-116.19,33.69,11.0,5692.0,1346.0,5682.0,1273.0,2.5383,74000.0,INLAND,12441,179150.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2395,-117.72,33.64,16.0,1230.0,242.0,380.0,246.0,2.2969,67500.0,<1H OCEAN,10558,179150.0
2396,-117.36,33.98,46.0,1680.0,453.0,1570.0,435.0,2.0436,82300.0,INLAND,11887,179150.0
2397,-118.35,34.10,26.0,3977.0,1050.0,1720.0,935.0,3.3580,364500.0,<1H OCEAN,4250,179150.0
2398,-117.53,33.97,29.0,1430.0,273.0,872.0,283.0,4.0833,141000.0,INLAND,11991,179150.0
2399,-121.34,38.69,17.0,1968.0,364.0,996.0,331.0,3.7031,114300.0,INLAND,12865,179150.0

In [106]:
metrics.root_mean_squared_error(valid_data['median_house_value'], valid_data['average_median_house_value'])

np.float64(122526.53555170202)